*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: lightgoldenrodyellow;
}
/* header */
header{
    background-color: lightblue;
    width: 100%;
    height: 10vh;
    padding: 10px;
    display: flex;
}
#nav{


    position: absolute;
    right: 0;
}
#nav ul{
    display: flex;
}
.nav_li{
    text-decoration: none;
    list-style: none;
    padding-right: 10px;

}
/* main */
main{
    width: 100%;
}
.normal_text{
    height: 15vh;
}
/* footer */
footer{
    background-color: lightcoral;
    width: 100%;
    height: 10vh;
    margin-top: auto;
}