*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #010140;
}
/* header */
header{
    background-color: #010120;
    color: #fff;
    width: 100%;
    padding: 2em;
    display: flex;
    align-items: center;
}
#nav{
    position: absolute;
    right: 0;
    padding-right: 2em;
}
#nav ul{
    display: flex;
}
.nav_li{
    list-style: none;
    color: #fff;
    padding: 0.5em;
}
a{
    text-decoration: none;
    color: #fff;
}
/* main */
main{
    width: 100%;
    color: #fff;
    background: linear-gradient(#010120,#010140);
}
article{
    margin-top: 20px;
}
h2{
}
#skills{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    width: fit-content;
    gap: 10px;
}
.skill_box{
    background-color: #333;
    text-align: center;
    padding: 2px;
    width: fit-content;
    border-radius: 2px;
}
/* footer */
footer{
    color: #fff;
    width: 100%;
    height: 10vh;
    margin-top: auto;
}